<!-- BEGIN: Header -->
<header>
  <div class="container">
    <!-- contain -->
    <div class="contain text-center">
      <h1>Cloud Hosting</h1>
      <ul class="p-0">
        <li>
          <img src="assets/images/shared-photos/speedometer-o.svg" class="img-fluid" alt="Extreme Performance">
          <p class="mb-0">extreme performance</p>
        </li>
        <li>
          <img src="assets/images/shared-photos/server-o.svg" class="img-fluid" alt="Extreme Performance">
          <p class="mb-0">instant provisioning</p>
        </li>
        <li>
          <img src="assets/images/shared-photos/resources-o.svg" class="img-fluid" alt="Extreme Performance">
          <p class="mb-0">guaranteed resources</p>
        </li>
        <li>
          <img src="assets/images/shared-photos/dynamic-o.svg" class="img-fluid" alt="Extreme Performance">
          <p class="mb-0">dynamic resources</p>
        </li>
        <li>
          <img src="assets/images/shared-photos/controls-o.svg" class="img-fluid" alt="Extreme Performance">
          <p class="mb-0">enhanced control panel</p>
        </li>
      </ul>
      <p>Our virtual private servers are built from the ground using all SSD storage. Enjoy increased power, flexibility, and control for your websites.</p>
      <button class="primary-btn get-link" data-value="section-1">get started</button>
    </div>
  </div>
</header>

<!-- BEGIN: Pricing Table -->
<div class="pricing-table-2 p-100" id="section-1">
  <div class="container">
    <!-- Table -->
    <h2 class="table-title text-center">Choose Your Web Hosting Plan</h2>
    <h2 class="table-subtitle text-center">Every plan comes with a 30-day free trial.</h2>
    <!-- Contain -->
    <div class="contain">
      <ul class="table-body p-0 mb-0">
        <li class="first-card">
          <!-- card name -->
          <div class="card-name text-center">
            <h3>bronze package</h3>
          </div>
          <!-- offer -->
          <div class="offer">
            <div class="old-price">$19.00</div>
            <div class="save">save 30%</div>
          </div>
          <!-- card price -->
          <div class="card-price">
            <span class="currency">$</span>
            <span class="amount">10</span>
            <span class="duration">/mo</span>
          </div>
          <!-- card features -->
          <div class="card-features">
            <ul class="p-0">
              <li>
                <i class="fa fa-check"></i>
                <b>dedicated IP</b>
                <span>address</span>
              </li>
              <li>
                <i class="fa fa-check"></i>
                <b>40 GB</b>
                <span>disk space</span>
              </li>
              <li>
                <i class="fa fa-check"></i>
                <b>unlimited</b>
                <span>bandwidth</span>
              </li>
              <li>
                <i class="fa fa-check"></i>
                <b>3 GB</b>
                <span>RAM</span>
              </li>
              <li>
                <i class="fa fa-check"></i>
                <b>2</b>
                <span>CPU cores</span>
              </li>
            </ul>
          </div>
          <!-- buy card -->
          <div class="buy-card">
            <button>get started</button>
          </div>
        </li>
        <li class="second-card hot-card">
          <!-- ribbon -->
          <div class="ribbon">most popular</div>
          <!-- card name -->
          <div class="card-name text-center">
            <h3>gold package</h3>
          </div>
          <!-- offer -->
          <div class="offer">
            <div class="old-price">$49.00</div>
            <div class="save">save 71%</div>
          </div>
          <!-- card price -->
          <div class="card-price">
            <span class="currency">$</span>
            <span class="amount">14</span>
            <span class="duration">/mo</span>
          </div>
          <!-- card features -->
          <div class="card-features">
            <ul class="p-0">
              <li>
                <i class="fa fa-check"></i>
                <b>dedicated IP</b>
                <span>address</span>
              </li>
              <li>
                <i class="fa fa-check"></i>
                <b>50 GB</b>
                <span>disk space</span>
              </li>
              <li>
                <i class="fa fa-check"></i>
                <b>unlimited</b>
                <span>bandwidth</span>
              </li>
              <li>
                <i class="fa fa-check"></i>
                <b>5 GB</b>
                <span>RAM</span>
              </li>
              <li>
                <i class="fa fa-check"></i>
                <b>4</b>
                <span>CPU cores</span>
              </li>
            </ul>
          </div>
          <!-- buy card -->
          <div class="buy-card">
            <button>get started</button>
          </div>
        </li>
        <li class="third-card">
          <!-- card name -->
          <div class="card-name text-center">
            <h3>platinum  package</h3>
          </div>
          <!-- offer -->
          <div class="offer">
            <div class="old-price">$32.00</div>
            <div class="save">save 34%</div>
          </div>
          <!-- card price -->
          <div class="card-price">
            <span class="currency">$</span>
            <span class="amount">26</span>
            <span class="duration">/mo</span>
          </div>
          <!-- card features -->
          <div class="card-features">
            <ul class="p-0">
              <li>
                <i class="fa fa-check"></i>
                <b>dedicated IP</b>
                <span>address</span>
              </li>
              <li>
                <i class="fa fa-check"></i>
                <b>70 GB</b>
                <span>disk space</span>
              </li>
              <li>
                <i class="fa fa-check"></i>
                <b>unlimited</b>
                <span>bandwidth</span>
              </li>
              <li>
                <i class="fa fa-check"></i>
                <b>6 GB</b>
                <span>RAM</span>
              </li>
              <li>
                <i class="fa fa-check"></i>
                <b>4</b>
                <span>CPU cores</span>
              </li>
            </ul>
          </div>
          <!-- buy card -->
          <div class="buy-card">
            <button>get started</button>
          </div>
        </li>
      </ul>
    </div>
    <!-- Cards -->
    <div class="cards">
      <ul class="p-0">
          <li>
            <img src="assets/images/shared-photos/cards/visa.webp" alt="">
          </li>
        <li>
          <img src="assets/images/shared-photos/cards/american-express.webp" alt="">
        </li>
        <li>
          <img src="assets/images/shared-photos/cards/bitpay.webp" alt="">
        </li>
        <li>
          <img src="assets/images/shared-photos/cards/diners-club.webp" alt="">
        </li>
        <li>
          <img src="assets/images/shared-photos/cards/discover.webp" alt="">
        </li>
        <li>
          <img src="assets/images/shared-photos/cards/maestro.webp" alt="">
        </li>
        <li>
          <img src="assets/images/shared-photos/cards/mastercard.webp" alt="">
        </li>
        <li>
          <img src="assets/images/shared-photos/cards/paypal.webp" alt="">
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- BEGIN: features -->
<div class="features p-100 bg-2">
  <div class="container">
    <!-- Head -->
    <div class="section-head">
      <h2>The Perfect Environment For Your Success</h2>
      <div class="lines">
				<span></span>
			</div>
      <p>Our optimized configuration process saves your team time when running and scaling distributed applications, AI & machine learning workloads, hosted services, client websites, or CI/CD environments.</p>
    </div>
    <!-- Contain -->
    <div class="contain">
      <!-- row -->
      <div class="row padding text-left">
        <!-- col -->
        <div class="col-lg-4 col-md-6">
          <!-- item -->
          <div class="item">
            <img src="assets/images/shared-photos/management.svg" class="img-fluid" alt="management">
            <h4>Fully Managed</h4>
            <p class="mb-0">24/7 dedicated support will help you every step of the way. Focus all efforts on making the most out of your project while we handle the server uptime and monitoring!</p>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-4 col-md-6">
          <!-- item -->
          <div class="item">
            <img src="assets/images/shared-photos/speedometer.svg" class="img-fluid" alt="management">
            <h4>3x More Speed</h4>
            <p class="mb-0">With cloud hosting, you can start small and grow big. Get more power as your website expands and break all boundaries. All resource limits are at your fingertips!</p>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-4 col-md-6 pb-0">
          <!-- item -->
          <div class="item">
            <img src="assets/images/shared-photos/rising.svg" class="img-fluid" alt="management">
            <h4>Room for Growth</h4>
            <p class="mb-0">With cloud hosting, you can start small and grow big. Get more power as your website expands and break all boundaries. All resource limits are at your fingertips!</p>
          </div>
        </div>
        <!-- col -->
        <div class="col-12">
          <!-- button contain -->
          <div class="btn-c w-100 text-center">
            <button class="primary-btn get-link" data-value="section-1">get started now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN: Compare Section -->
<div class="compare p-100">
  <div class="container">
    <!-- Hosting Head -->
    <div class="section-head">
      <h2>Compare All Cloud Hosting Plans</h2>
      <div class="lines">
				<span></span>
			</div>
      <p>Our optimized configuration process saves your team time when running and scaling distributed applications, AI & machine learning workloads, hosted services, client websites, or CI/CD environments.</p>
    </div>
    <!-- Compare Table -->
    <div class="c-table table-responsive-md">
      <!-- H Table -->
      <table class="w-100 h-table">
        <thead>
          <tr>
            <th class="d-lg-table d-none"></th>
            <td>
              <span class="name">Bronze</span>
              <div class="card-price">
                <span class="currency">$</span>
                <span class="amount">10</span>
                <span class="duration">/mo</span>
              </div>
              <button>get started</button>
            </td>
            <td class="hot">
              <span class="name">Gold</span>
              <div class="card-price">
                <span class="currency">$</span>
                <span class="amount">14</span>
                <span class="duration">/mo</span>
              </div>
              <button>get started</button>
            </td>
            <td>
              <span class="name">Platinum</span>
              <div class="card-price">
                <span class="currency">$</span>
                <span class="amount">26</span>
                <span class="duration">/mo</span>
              </div>
              <button>get started</button>
            </td>
          </tr>
        </thead>
      </table>
      <table class="table table-bordered mb-0">
        <thead>
          <tr>
            <th class="p-0 d-lg-table d-none"></th>
            <td class="p-0"></td>
            <td class="p-0"></td>
            <td class="p-0"></td>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-gray d-lg-none">
            <td class="title" colspan="4">Free domain with annual plan</td>
          </tr>
          <tr class="bg-gray">
            <th class="d-lg-table-cell d-none">Free domain with annual plan</th>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
          </tr>
          <tr class="d-lg-none">
            <td class="title" colspan="4">Websites</td>
          </tr>
          <tr>
            <th class="d-lg-table-cell d-none">Websites</th>
            <td>1</td>
            <td>Unlimited</td>
            <td>Unlimited</td>
          </tr>
          <tr class="bg-gray d-lg-none">
            <td class="title" colspan="4">Disk space</td>
          </tr>
          <tr class="bg-gray">
            <th class="d-lg-table-cell d-none">Disk space</th>
            <td>100 GB</td>
            <td>Unlimited</td>
            <td>Unlimited</td>
          </tr>
          <tr class="d-lg-none">
            <td class="title" colspan="4">Monthly bandwidth</td>
          </tr>
          <tr>
            <th class="d-lg-table-cell d-none">Monthly bandwidth</th>
            <td>Unlimited</td>
            <td>Unlimited</td>
            <td>Unlimited</td>
          </tr>
          <tr class="bg-gray d-lg-none">
            <td class="title" colspan="4">Input/output (I/O)</td>
          </tr>
          <tr class="bg-gray">
            <th class="d-lg-table-cell d-none">Input/output (I/O)</th>
            <td>1024</td>
            <td>2048</td>
            <td>2048</td>
          </tr>
          <tr class="d-lg-none">
            <td class="title" colspan="4">FTP users</td>
          </tr>
          <tr>
            <th class="d-lg-table-cell d-none">FTP users</th>
            <td>60</td>
            <td>60</td>
            <td>60</td>
          </tr>
          <tr class="bg-gray d-lg-none">
            <td class="title" colspan="4">MySQL databases</td>
          </tr>
          <tr class="bg-gray">
            <th class="d-lg-table-cell d-none">MySQL databases</th>
            <td>10 x 1 GB</td>
            <td>25 x 1 GB</td>
            <td>Unlimited<br> x 2 GB</td>
          </tr>
          <tr class="d-lg-none">
            <td class="title" colspan="4">Database backup/restore</td>
          </tr>
          <tr>
            <th class="d-lg-table-cell d-none">Database backup/restore</th>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
          </tr>
          <tr class="bg-gray d-lg-none">
            <td class="title" colspan="4">Direct database access</td>
          </tr>
          <tr class="bg-gray">
            <th class="d-lg-table-cell d-none">Direct database access</th>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
          </tr>
          <tr class="d-lg-none">
            <td class="title" colspan="4">DNS management</td>
          </tr>
          <tr>
            <th class="d-lg-table-cell d-none">DNS management</th>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td>Unlimited</td>
          </tr>
          <tr class="bg-gray d-lg-none">
            <td class="title" colspan="4">Auto-responder</td>
          </tr>
          <tr class="bg-gray">
            <th class="d-lg-table-cell d-none">Auto-responder</th>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
          </tr>
          <tr class="d-lg-none">
            <td class="title" colspan="4">Total email storage</td>
          </tr>
          <tr>
            <th class="d-lg-table-cell d-none">Total email storage</th>
            <td>5 GB</td>
            <td>5 GB</td>
            <td>Unlimited</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- BEGIN: Features 2 -->
<div class="features bg-2 p-100">
  <div class="container">
    <!-- section head -->
    <div class="section-head">
      <h2>Simplicity Meets Performance</h2>
      <div class="lines">
				<span></span>
			</div>
      <p>Our optimized configuration process saves your team time when running and scaling distributed applications, AI & machine learning workloads, hosted services, client websites, or CI/CD environments.</p>
    </div>
    <!-- Features Item -->
    <div class="items-contain">
      <!-- Row -->
      <div class="row text-md-left text-center padding">
        <!-- Col -->
        <div class="col-lg-4 col-md-6 mb-lg-50">
          <div class="item">
            <img src="assets/images/shared-photos/level-up.svg" class="img-fluid" alt="level-up">
            <!-- Text Contain -->
            <div class="t-c">
              <h4 class="mb-2">Level up!</h4>
              <p class="mb-0 mx-auto">It’s hard to believe anyone would want to harm your website, but they do. Thankfully, our security team is on the job 24/7 to meticulously monitor, thwart suspicious activity and deflect DDoS	attacks.</p>
            </div>
          </div>
        </div>
        <!-- Col -->
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <img src="assets/images/shared-photos/insurance.svg" class="img-fluid" alt="insurance">
            <!-- Text Contain -->
            <div class="t-c">
              <h4 class="mb-2">Award-winning security</h4>
              <p class="mb-0 mx-auto">It’s hard to believe anyone would want to harm your website, but they do. Thankfully, our security team is on the job 24/7 to meticulously monitor, thwart suspicious activity and deflect DDoS	attacks.</p>
            </div>
          </div>
        </div>
        <!-- Col -->
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <img src="assets/images/shared-photos/hosting.svg" class="img-fluid" alt="hosting">
            <!-- Text Contain -->
            <div class="t-c">
              <h4 class="mb-2">What is hosting?</h4>
              <p class="mb-0 mx-auto">It’s hard to believe anyone would want to harm your website, but they do. Thankfully, our security team is on the job 24/7 to meticulously monitor, thwart suspicious activity and deflect DDoS	attacks.</p>
            </div>
          </div>
        </div>
        <!-- Col -->
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <img src="assets/images/shared-photos/project-management.svg" class="img-fluid" alt="management">
            <!-- Text Contain -->
            <div class="t-c">
              <h4 class="mb-2">Upgrade Management</h4>
              <p class="mb-0 mx-auto">It’s hard to believe anyone would want to harm your website, but they do. Thankfully, our security team is on the job 24/7 to meticulously monitor, thwart suspicious activity and deflect DDoS	attacks.</p>
            </div>
          </div>
        </div>
        <!-- Col -->
        <div class="col-lg-4 col-md-6 pb-md-0">
          <div class="item">
            <img src="assets/images/shared-photos/support.svg" class="img-fluid" alt="support">
            <!-- Text Contain -->
            <div class="t-c">
              <h4 class="mb-2">Priority Support</h4>
              <p class="mb-0 mx-auto">It’s hard to believe anyone would want to harm your website, but they do. Thankfully, our security team is on the job 24/7 to meticulously monitor, thwart suspicious activity and deflect DDoS	attacks.</p>
            </div>
          </div>
        </div>
        <!-- Col -->
        <div class="col-lg-4 col-md-6 pb-0">
          <div class="item">
            <img src="assets/images/shared-photos/email-support.svg" class="img-fluid" alt="email-support">
            <!-- Text Contain -->
            <div class="t-c">
              <h4 class="mb-2">Email Service</h4>
              <p class="mb-0 mx-auto">It’s hard to believe anyone would want to harm your website, but they do. Thankfully, our security team is on the job 24/7 to meticulously monitor, thwart suspicious activity and deflect DDoS	attacks.</p>
            </div>
          </div>
        </div>
        <!-- col -->
        <div class="col-12">
          <!-- button contain -->
          <div class="btn-c w-100 text-center">
            <button class="primary-btn get-link" data-value="section-1">get started now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN: Money Back Section -->
<div class="m-b p-100">
  <div class="container">
    <!-- Contain -->
    <div class="contain">
      <!-- row -->
      <div class="row align-items-center">
        <!-- col -->
        <div class="col-3 d-lg-block d-none">
          <img src="assets/images/pages/servers/30-day-guarantee-clipart.webp" class="img-fluid" alt="">
        </div>
        <!-- col -->
        <div class="col-lg-9 col-12">
          <!-- text contain -->
          <div class="t-c text-lg-left text-center">
            <h3 class="mb-lg-2 mb-3">30-day money-back guarantee</h3>
            <p class="mb-0">If you’re not 100% satisfied with VRocket, we’ll refund your payment. No hassle, no risk.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN: FAQs Section -->
<div class="faqs p-100 bg-2">
  <div class="container">
    <!-- FAQs Head -->
    <div class="section-head">
      <h2>Frequently asked questions</h2>
      <div class="lines">
				<span></span>
			</div>
      <p>Get the answers to frequently asked questions about our hosting service.</p>
    </div>
    <!-- FAQs Content -->
    <div class="faqs-content">
      <div class="accordion" id="accordion">
        <!-- Card -->
        <div class="card">
          <div class="card-header" id="headingOne">
            <button class="text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
             aria-controls="collapseOne">
              <i class="fa fa-long-arrow-right mr-3"></i>What are the different types of web hosting options VRocket offers?
            </button>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <p class="mb-0">VRocket offers multiple website hosting options to fit the various needs and budgets of our
                customers. Shared Hosting, Cloud Hosting, VPS Hosting, and Dedicated Hosting are our standard options, however
                we also offer specialized hosting for specific website building applications like WordPress and WooCommerce.
                Each platform is built on reliable, high-performance servers and is supported by our 24/7 expert support teams</p>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="card">
          <div class="card-header" id="headingTwo">
            <button class="text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
             aria-expanded="false" aria-controls="collapseTwo">
              <i class="fa fa-long-arrow-right mr-3"></i>What type of customer support does VRocket offer with their web
              hosting?
            </button>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <p class="mb-0">VRocket offers 24/7 professional customer support with all of our web hosting plans for no
                additional cost. You can call or chat with us at any time and a dedicated support rep will assist you with any
                inquiry or concern you may have. Our support is available for all website hosting plan types, so no matter
                what platform you need, know that we are here to help you every step of the way. For customers looking for
                WordPress design or functionality support, we offer WP Live. This premium service starts at $29 per month and
                gives you access to our WordPress technical support team. They can assist with everything from selecting a
                theme, to design, to even plugin development questions.</p>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="card">
          <div class="card-header" id="headingThree">
            <button class="text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
             aria-expanded="false" aria-controls="collapseThree">
              <i class="fa fa-long-arrow-right mr-3"></i>What are the benefits of VRocket web hosting?
            </button>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <p class="mb-0">VRocket is dedicated to providing industry-leading support and reliability. Our platform is
                optimized for the sake of keeping your website live and accessible around the clock. On top of that, we offer
                a free SSL for all website hosting packages to keep your website traffic secure. Most of our web hosting plans
                also come with a free domain name, so you can get started building the website of your dreams quickly and
                affordably. Lastly, we are the #1 trusted WordPress hosting provider, which means if you have any questions
                about how to get started building a website with WordPress, we are absolutely the right partner to assist you.</p>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="card">
          <div class="card-header" id="headingFour">
            <button class="text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
             aria-expanded="false" aria-controls="collapseThree">
              <i class="fa fa-long-arrow-right mr-3"></i>What services and upgrades can I add on to my web hosting package?
            </button>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              <p class="mb-0">VRocket provides a wealth of tools and resources to boost your hosting performance and
                experience. From domains, website backups, SSLs, malware detection and removal, to marketing services like
                VRocket SEO Tools and PPC. We even provide hands-on services for full website design, social media
                optimizations, site migrations, and local listing promotion. Contact us to learn more about all the tools and
                services available to make your website the best it can be.</p>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="card">
          <div class="card-header" id="headingFour">
            <button class="text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
             aria-expanded="false" aria-controls="collapseFive">
              <i class="fa fa-long-arrow-right mr-3"></i>How do I get started with VRocket web hosting?
            </button>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              <p class="mb-0">VRocket provides a wealth of tools and resources to boost your hosting performance and
                experience. From domains, website backups, SSLs, malware detection and removal, to marketing services like
                VRocket SEO Tools and PPC. We even provide hands-on services for full website design, social media
                optimizations, site migrations, and local listing promotion. Contact us to learn more about all the tools and
                services available to make your website the best it can be.</p>
            </div>
          </div>
        </div>
        <!-- Card -->
        <div class="card">
          <div class="card-header" id="headingSix">
            <button class="text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
             aria-expanded="false" aria-controls="collapseSix">
              <i class="fa fa-long-arrow-right mr-3"></i>What is a Let's Encrypt SSL?
            </button>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
              <p class="mb-0">Let's Encrypt is a free Secure Socket Layer certificate that keeps your website traffic safe by
                encrypting the data that is transferred between our servers and their computer. Let's Encrypt allows you to
                enable your website to run in the secure HTTPS setting, as oppose to the open HTTP setting. VRocket provides a
                free Let's Encrypt SSL for all website hosting plans and we enable it automatically. Our Let's Encrypt SSL
                certificate will secure any of your domains including subdomains at no additional cost.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
