<!-- BEGIN: Main Contain -->
<div class="main-contain">

  <!-- BEGIN: Overlay -->
	<span class="overlay-span"></span>
	<span class="overlay-bg"></span>

  <!-- BEGIN: Header -->
  <header class="text-center">
    <div class="container">
      <h1>Contact us</h1>
      <p class="mb-0">Get in touch and let us know how we can help.</p>
    </div>
  </header>

  <!-- BEGIN: Support Blocks -->
  <div class="support-blocks p-100">
    <div class="container">
      <!-- row -->
      <div class="row justify-content-center">
        <!-- col -->
        <div class="col-md-4">
          <!-- Item -->
          <a href="#" class="item text-center">
            <!-- Image Contain -->
            <div class="img-c mx-auto">
              <img src="assets/images/shared-photos/sales.svg" class="img-fluid" alt="">
            </div>
            <!-- Text Contain -->
            <div class="t-c">
              <h3>Sales</h3>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <!-- Item Footer -->
            <div class="i-f">
              <p class="mb-0">Contact sales <i class="fa fa-arrow-right"></i></p>
            </div>
          </a>
        </div>
        <!-- col -->
        <div class="col-md-4">
          <!-- Item -->
          <a href="#" class="item text-center">
            <!-- Image Contain -->
            <div class="img-c mx-auto">
              <img src="assets/images/shared-photos/help.svg" class="img-fluid" alt="">
            </div>
            <!-- Text Contain -->
            <div class="t-c">
              <h3>Help &amp; Support</h3>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <!-- Item Footer -->
            <div class="i-f">
              <p class="mb-0">Contact support <i class="fa fa-arrow-right"></i></p>
            </div>
          </a>
        </div>
        <!-- col -->
        <div class="col-md-4">
          <!-- Item -->
          <a href="#" class="item text-center ">
            <!-- Image Contain -->
            <div class="img-c mx-auto">
              <img src="assets/images/shared-photos/message.svg" class="img-fluid" alt="">
            </div>
            <!-- Text Contain -->
            <div class="t-c">
              <h3>Media &amp; Press</h3>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <!-- Item Footer -->
            <div class="i-f">
              <p class="mb-0">Visite press page <i class="fa fa-arrow-right"></i></p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- BEGIN: Contact Information -->
  <div class="contact-info">
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- col -->
        <div class="col-lg-6 f-d">
          <!-- content -->
          <div class="content">
            <i class="fa fa-address-book-o"></i>
            <ul class="m-0">
              <li class="head">Address for correspondence</li>
              <li>Egypt, Bani Suef, 36 st M.Ali</li>
              <li>Example, Taxses, 36 st M.Ali</li>
            </ul>
          </div>
        </div>
        <!-- col -->
        <div class="col-lg-6">
          <!-- content -->
          <div class="content">
            <i class="fa fa-envelope-o"></i>
            <ul class="m-0">
              <li class="head">24x7 support over email, phone, or chat</li>
              <li>info@vrocket.com</li>
              <li>example@vrocket.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
