<!-- BEGIN: Navbar -->
<nav>
  <div class="container">
    <!-- Nav Content -->
    <div class="nav-content">
      <!-- Logo -->
      <div class="logo">
        <a routerLink="" class="navbar-link">
          <img src="assets/images/logoFile/logo-w.webp" class="img-fluid w-logo" alt="VRocket">
          <img src="assets/images/logoFile/logo-b.webp" class="img-fluid b-logo" alt="VRocket">
        </a>
      </div>
      <ul class="nav-ul m-0 p-0 ml-auto">
        <!-- Nav Item -->
        <li class="nav-item">
          <a routerLink="comingSoon" class="navbar-link">Domains</a>
        </li>
        <!-- Nav Item -->
        <li class="nav-item dropdown-li">
          <a onclick="return false">Hosting
            <i class="fa fa-angle-down ml-1"></i>
          </a>
          <!-- Nav DropDown Menu -->
          <ol class="pl-0">
            <li>
              <a routerLink="comingSoon" class="navbar-link">
                <!-- Hover Border -->
                <span class="d-lg-block d-none"></span>
                <!-- Link Contain -->
                <div class="l-c">
                  <img src="assets/images/navbar/hosting/shared.svg" class="img-fluid mr-3" alt="shared">
                  <!-- Text Contain -->
                  <div class="t-c">
                    <div class="name">Shared Hosting</div>
                    <div class="comment">perfect for hosting.</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a routerLink="cloudHosting" class="navbar-link">
                <!-- Hover Border -->
                <span class="d-lg-block d-none"></span>
                <!-- Link Contain -->
                <div class="l-c">
                  <img src="assets/images/navbar/hosting/cloud.svg" class="img-fluid mr-3" alt="cloud">
                  <!-- Text Contain -->
                  <div class="t-c">
                    <div class="name">Cloud Hosting</div>
                    <div class="comment">hosting solution is powerful</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a routerLink="vpsHosting" class="navbar-link">
                <!-- Hover Border -->
                <span class="d-lg-block d-none"></span>
                <!-- Link Contain -->
                <div class="l-c">
                  <img src="assets/images/navbar/hosting/vps.svg" class="img-fluid mr-3" alt="vps">
                  <!-- Text Contain -->
                  <div class="t-c">
                    <div class="name">VPS Hosting</div>
                    <div class="comment">Next-Gen VPS Hosting</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a routerLink="comingSoon" class="navbar-link">
                <!-- Hover Border -->
                <span class="d-lg-block d-none"></span>
                <!-- Link Contain -->
                <div class="l-c">
                  <img src="assets/images/navbar/hosting/dedicated.svg" class="img-fluid mr-3" alt="dedicated">
                  <!-- Text Contain -->
                  <div class="t-c">
                    <div class="name">Dedicated Hosting</div>
                    <div class="comment">performance, security</div>
                  </div>
                </div>
              </a>
            </li>
          </ol>
        </li>
        <!-- Nav Item -->
        <li class="nav-item dropdown-li">
          <a>Company
            <i class="fa fa-angle-down ml-1"></i>
          </a>
          <!-- Nav DropDown Menu -->
          <ol class="pl-0">
            <li>
              <a routerLink="terms" class="navbar-link">
                <!-- Hover Border -->
                <span class="d-lg-block d-none"></span>
                <!-- Link Contain -->
                <div class="l-c">
                  <img src="assets/images/navbar/support/contact.svg" class="img-fluid mr-3" alt="contact">
                  <!-- Text Contain -->
                  <div class="t-c">
                    <div class="name">terms</div>
                    <div class="comment">our site terms</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a routerLink="privacy" class="navbar-link">
                <!-- Hover Border -->
                <span class="d-lg-block d-none"></span>
                <!-- Link Contain -->
                <div class="l-c">
                  <img src="assets/images/navbar/support/contact.svg" class="img-fluid mr-3" alt="contact">
                  <!-- Text Contain -->
                  <div class="t-c">
                    <div class="name">privacy</div>
                    <div class="comment">our site privacy</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a routerLink="comingSoon" class="navbar-link">
                <!-- Hover Border -->
                <span class="d-lg-block d-none"></span>
                <!-- Link Contain -->
                <div class="l-c">
                  <img src="assets/images/navbar/support/contact.svg" class="img-fluid mr-3" alt="contact">
                  <!-- Text Contain -->
                  <div class="t-c">
                    <div class="name">Coming Soon</div>
                    <div class="comment">Coming Soon Page</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a routerLink="error" class="navbar-link">
                <!-- Hover Border -->
                <span class="d-lg-block d-none"></span>
                <!-- Link Contain -->
                <div class="l-c">
                  <img src="assets/images/navbar/support/contact.svg" class="img-fluid mr-3" alt="contact">
                  <!-- Text Contain -->
                  <div class="t-c">
                    <div class="name">404 Page</div>
                    <div class="comment">Page not found</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a routerLink="verificationCode" class="navbar-link">
                <!-- Hover Border -->
                <span class="d-lg-block d-none"></span>
                <!-- Link Contain -->
                <div class="l-c">
                  <img src="assets/images/navbar/support/contact.svg" class="img-fluid mr-3" alt="contact">
                  <!-- Text Contain -->
                  <div class="t-c">
                    <div class="name">Verify Page</div>
                    <div class="comment">Verification Code</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a routerLink="newPassword" class="navbar-link">
                <!-- Hover Border -->
                <span class="d-lg-block d-none"></span>
                <!-- Link Contain -->
                <div class="l-c">
                  <img src="assets/images/navbar/support/contact.svg" class="img-fluid mr-3" alt="contact">
                  <!-- Text Contain -->
                  <div class="t-c">
                    <div class="name">New Password</div>
                    <div class="comment">Verify New Password</div>
                  </div>
                </div>
              </a>
            </li>
          </ol>
        </li>
        <!-- Nav Item -->
        <li class="nav-item">
          <a routerLink="aboutUs" class="navbar-link">About us</a>
        </li>
        <!-- Nav Item -->
        <li class="nav-item dropdown-li">
          <a onclick="return false">Contact
            <i class="fa fa-angle-down ml-1"></i>
          </a>
          <!-- Nav DropDown Menu -->
          <ol class="pl-0">
            <li>
              <a routerLink="contact" class="navbar-link">
                <!-- Hover Border -->
                <span class="d-lg-block d-none"></span>
                <!-- Link Contain -->
                <div class="l-c">
                  <img src="assets/images/shared-photos/help.svg" class="img-fluid mr-3" alt="contact">
                  <!-- Text Contain -->
                  <div class="t-c">
                    <div class="name">contact</div>
                    <div class="comment">contact us now</div>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a routerLink="contactSales" class="navbar-link">
                <!-- Hover Border -->
                <span class="d-lg-block d-none"></span>
                <!-- Link Contain -->
                <div class="l-c">
                  <img src="assets/images/shared-photos/email-support.svg" class="img-fluid mr-3" alt="contact">
                  <!-- Text Contain -->
                  <div class="t-c">
                    <div class="name">contact sales</div>
                    <div class="comment">contact our sales team</div>
                  </div>
                </div>
              </a>
            </li>
          </ol>
        </li>
        <!-- Nav Item -->
        <li class="nav-item">
          <a routerLink="login" class="navbar-link">Login</a>
        </li>
      </ul>
    </div>
    <!-- Nav Footer -->
    <div class="nav-footer d-lg-none d-block">
      <p class="mb-0">© 2018 VRocket Pty Ltd</p>
    </div>
  </div>
</nav>

<!-- BEGIN: Small nav -->
<div class="s-nav d-lg-none d-block">
  <div class="container">
    <!-- Nav Content -->
    <div class="nav-content">
      <!-- Logo -->
      <a routerLink="" class="navbar-link">
        <!-- White Logo -->
        <img src="assets/images/logoFile/logo-w.webp" class="img-fluid w-logo" alt="VRocket">
        <!-- Blue Logo -->
        <img src="assets/images/logoFile/logo-b.webp" class="img-fluid b-logo" alt="VRocket">
      </a>
      <!-- Toggle Nav Button -->
      <button class="toggle-nav-btn" id="toggle-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</div>

<!-- BEGIN: Router Outlet -->
<router-outlet></router-outlet>

<!-- BEGIN: Footer -->
<footer>
	<div class="container">
		<!-- Links -->
		<div class="links">
			<!-- row -->
			<div class="row">
				<!-- col -->
				<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-lg-0 mb-3">
					<!-- Content -->
					<div class="content">
						<p class="head mb-md-3 mb-1">Hosting</p>
						<p>
							<a href routerLink="comingSoon">shared Hosting</a>
						</p>
						<p>
							<a href routerLink="cloudHosting">cloud Hosting</a>
						</p>
						<p>
							<a href routerLink="vpsHosting">VPS Hosting</a>
						</p>
						<p>
							<a href routerLink="comingSoon">dedicated Hosting</a>
						</p>
					</div>
				</div>
				<!-- col -->
				<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-lg-0 mb-3">
					<!-- Content -->
					<div class="content">
						<p class="head mb-md-3 mb-1">company</p>
						<p>
							<a href routerLink="aboutUs">about us</a>
						</p>
						<p>
							<a href routerLink="terms">terms</a>
						</p>
						<p>
							<a href routerLink="privacy">privacy</a>
						</p>
					</div>
				</div>
				<!-- col -->
				<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-lg-0 mb-3">
					<!-- Content -->
					<div class="content">
						<p class="head mb-md-3 mb-1">useful links</p>
						<p>
							<a href routerLink="comingSoon">your account</a>
						</p>
						<p>
							<a href="#">documentation</a>
						</p>
						<p>
							<a href routerLink="comingSoon">ICANN Confirmation</a>
						</p>
						<p>
							<a href routerLink="comingSoon">Cookies</a>
						</p>
					</div>
				</div>
				<!-- col -->
				<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-lg-0 mb-md-3 mb-0">
					<!-- Content -->
					<div class="content">
						<p class="head mb-md-3 mb-1">information</p>
						<p>
							<a href routerLink="comingSoon">affiliate program</a>
						</p>
						<p>
							<a href routerLink="comingSoon">payment method</a>
						</p>
						<p>
							<a href routerLink="comingSoon">compare</a>
						</p>
						<p>
							<a href routerLink="comingSoon">reviews</a>
						</p>
					</div>
				</div>
				<!-- col -->
				<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-md-0">
					<!-- Content -->
					<div class="content">
						<p class="head mb-md-3 mb-1">domains</p>
						<p>
							<a href routerLink="comingSoon">domain checker</a>
						</p>
						<p>
							<a href routerLink="comingSoon">domain transfer</a>
						</p>
						<p>
							<a href routerLink="comingSoon">free domain</a>
						</p>
						<p>
							<a href routerLink="comingSoon">buy domain</a>
						</p>
					</div>
				</div>
				<!-- col -->
				<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-0">
					<!-- Content -->
					<div class="content">
						<p class="head mb-md-3 mb-1">why VRocket?</p>
						<p>
							<a href routerLink="comingSoon">top 5 reasons</a>
						</p>
						<p>
							<a href routerLink="comingSoon">Customer Testimonials</a>
						</p>
						<p>
							<a href routerLink="comingSoon">Service Guarantee</a>
						</p>
						<p>
							<a href routerLink="comingSoon">Awards</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Copyright -->
		<div class="copyright">
			<!-- row -->
			<div class="row justify-content-between">
				<!-- col -->
				<div class="col-lg-9 text-lg-left text-center">
					<p class="mb-0">&copy; 2019 VRocket Pty Ltd. Trademarks and brands are the property of their respective owners.</p>
					<p class="comment mb-0">Developed By
						<a href="">Nifty Theme</a>
					</p>
				</div>
				<!-- col -->
				<div class="col-lg-3">
					<!-- Content -->
					<div class="content d-flex align-items-center justify-content-lg-end justify-content-center">
						<!-- Social Links -->
						<ul class="pl-0 mb-0">
							<!-- Linked In -->
							<li class="mr-2">
								<a href="">
									<i class="fa fa-linkedin"></i>
								</a>
							</li>
							<!-- Facebook -->
							<li class="mr-2">
								<a href="">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<!-- Twitter -->
							<li class="mr-2">
								<a href="">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
						</ul>
						<!-- Language Menu -->
						<div class="language-menu ml-2">
							<button id="lang-btn">
								EN <i class="fa fa-angle-down ml-2 angle"></i>
							</button>
							<div class="menu text-center">
								<div class="head">change language</div>
								<a href="">
									<i class="fa fa-check"></i> Arabic
								</a>
								<a href="" class="selected">
									<i class="fa fa-check"></i> English
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>