/* -- BEGIN: Navbar -- */
nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 12;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}
/* Nav Content */
.nav-content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-content .logo a img {
  max-width: 130px;
}
.nav-content .logo a img.w-logo {
  display: none;
}
.nav-content ul {
  display: flex;
  align-items: center;
}
.nav-content ul li.nav-item {
  height: 60px;
  list-style-type: none;
  text-align: center;
  display: flex;
  align-items: center;
}
.nav-content ul li.nav-item > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  height: 100%;
  color: #526069;
  cursor: pointer;
}
nav .nav-content ul li.nav-item:hover {
  background: #fafafa;
}
.nav-content ul li.dropdown-li {
  position: relative;
}
.nav-content ul li.dropdown-li ol {
  visibility: hidden;
  position: absolute;
  padding: 20px 0;
  background: #fff;
  top: 60px;
  left: 0;
  min-width: 300px;
  border-radius: 0 0 4px 4px;
  list-style: none;
  transform: scale(0);
  transform-origin: 0 0;
  transition: visibility 2s linear, transform 0.3s ease, top .2s linear, left .2s linear;
  border: 1px solid #e4eaec;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
}
.nav-content ul li.dropdown-li ol::after {
  position: absolute;
  content: "";
  height: 15px;
  width: 20px;
  left: calc(50% - 120px);
  top: -3px;
  transform: rotate(135deg);
  z-index: 1;
  background-color: #fff;
  border-bottom-left-radius: 1px;
  border-right: 0;
  border-top: 0;
}
.nav-content ul li.dropdown-li:hover ol {
  visibility: visible;
  transform: scale(1);
  z-index: 6;
}
.nav-content ul li.dropdown-li ol li {
  margin: 0;
}
.nav-content ul li.dropdown-li ol a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px 10px 20px;
  z-index: 2;
  font-size: 15px;
  position: relative;
  text-align: left;
  text-transform: capitalize;
  color: #2c2f3e;
  background: #fff;
  overflow: hidden;
}
.nav-content ul li.dropdown-li ol a span {
  position: absolute;
  height: 40px;
  width: 0;
  background: #0069ff;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
  transition: width 0.15s ease;
}
.nav-content ul li.dropdown-li ol a .l-c {
  display: flex;
  align-items: flex-start;
}
.nav-content ul li.dropdown-li ol a .l-c img {
  max-width: 30px;
}
.nav-content ul li.dropdown-li ol a .l-c .t-c .name {
  font-size: 15px;
  font-weight: bold;
  color: #031b4e;
}
.nav-content ul li.dropdown-li ol a .l-c .t-c .comment {
  font-size: 13px;
  color: #898b96;
  transition: color 0.3s ease;
}
.nav-content ul li.dropdown-li ol a:hover span {
  width: 6px;
}
.nav-content ul li.dropdown-li ol a:hover .l-c .t-c .comment {
  color: #031b4e;
}
/* ------------------------------------------------- */

/* -- BEGIN: Footer -- */
footer {
  padding-top: 50px;
  width: 100%;
  z-index: -1;
  background: #202a2f;
  color: #fff;
}
footer .logo {
  max-width: 100px;
}
footer .links {
  padding-bottom: 40px;
}
footer .content p.head {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
footer .content p:not(:last-child) {
  margin-bottom: 4px;
}
footer .content p:last-child {
  margin-bottom: 0;
}
footer .content a {
  position: relative;
  font-size: 13px;
  text-transform: capitalize;
  letter-spacing: .1em;
  font-weight: normal;
  color: #898b96;
}
footer .content p a::after {
  background-color: #898b96;
  content: "";
  height: 1px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-transition: 0.15s all cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 0.15s all cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  width: 100%;
}
footer .content p a:hover::after {
  opacity: 1;
  -webkit-transform: translateY(1px) translateZ(0);
  transform: translateY(1px) translateZ(0);
}
/* Copyright */
footer .copyright {
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, .1);
}
footer .copyright p {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #7c7c7d;
}
footer .copyright p.comment a {
  color: #fff;
  transition: color .3s ease;
}
footer .copyright p.comment a:hover {
  color: #0069ff;
}
footer .copyright ul {
  display: flex;
  border-right: 1px solid rgba(255, 255, 255, .1);
}
footer .copyright ul li {
  list-style-type: none;
}
footer .copyright ul li a {
  letter-spacing: normal;
}
footer .copyright ul li i {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 16px;
  color: #1c2331;
  background: #a6adb3;
  opacity: .7;
  transition: opacity .3s ease;
}
footer .copyright ul li a:hover i {
  opacity: 1;
}
footer .copyright .language-menu {
  position: relative;
}
footer .copyright .language-menu button {
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  color: #a6adb3;
  opacity: .7;
  transition: opacity .3s ease;
}
footer .copyright .language-menu:hover button {
  opacity: 1;
}
footer .copyright .language-menu button i {
  font-size: 28px;
}
footer .copyright .language-menu button i.angle {
  font-size: 20px;
}
footer .copyright .language-menu .menu {
  position: absolute;
  width: fit-content;
  bottom: 40px;
  padding-bottom: 15px;
  right: -20%;
  white-space: nowrap;
  border-radius: 6px;
  background: #fff;
  display: none;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
}
footer .copyright .language-menu .menu::after {
  content: "";
  display: inline-block;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  bottom: -6px;
  right: 30px;
}
footer .copyright .language-menu .menu .head {
  font-size: 14px;
  padding: 12px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: bold;
  border-bottom: 1px solid #e4eaec;
  color: #1c2331;
}
footer .copyright .language-menu .menu a {
  position: relative;
  margin: 0 auto;
  font-size: 14px;
  padding: 5px 0;
  display: block;
  font-weight: bold;
  color: #898b96;
}
footer .copyright .language-menu .menu a i {
  position: absolute;
  left: 15px;
  top: 50%;
  color: #0069ff;
  transform: translateY(-50%);
  display: none;
}
footer .copyright .language-menu .menu a.selected i {
  display: block;
}
footer .copyright .language-menu .menu a:hover {
  background: #f2f2f2;
}
footer .copyright .language-menu .menu.show {
  display: block;
}
/* ------------------------------------------------- */
/* Extra Large devices (desktops, less than 1450px) */
@media (max-width: 1449.98px) {
  .nav-content ul li.dropdown-li ol {
    left: auto;
    right: 0;
    transform-origin: 100% 0;
  }
  .nav-content ul li.dropdown-li ol::after {
    left: auto;
    right: calc(50% - 120px)
  }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  body::before {
    content: '';
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 60px);
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
  }
  body.nav-open::before {
    opacity: 1;
    visibility: visible;
  }
  nav {
    position: fixed !important;
    left: -240px;
    top: 0;
    right: 100%;
    padding: 0;
    height: 100vh;
    width: 240px;
    background: #263238;
    overflow: auto;
    backface-visibility: hidden;
    transition: left .3s ease-in-out;
    box-shadow: inset -3px 0px 5px 0px rgba(0,0,0,0.2);
    user-select: none;
  }
  nav.open {
    left: 0;
  }
  nav .container {
    padding: 0;
  }
  /* Nav Content */
  .nav-content {
    display: block;
    height: auto;
  }
  .nav-content .logo {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 15px 20px;
    background: #202a2f;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  nav .w-logo {
    display: block !important;
  }
  nav .b-logo {
    display: none !important;
  }
  .nav-content ul {
    flex-direction: column;
  }
  .nav-content ul li.nav-item {
    display: block;
    width: 100%;
    padding: 0;
    height: auto;
    margin: 0;
  }
  .nav-content ul li.nav-item:hover {
    background: rgba(255, 255, 255, 0.02) !important;
  }
  .nav-content ul li.nav-item > a {
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    height: 40px;
    padding: 10px 20px;
    color: #a6adb3;
    transition: color .15s ease-in-out;
  }
  .nav-content ul li.nav-item:hover > a {
    color: #e1e4e6;
  }
  .nav-content ul li.nav-item a i {
    position: relative;
    right: 10px;
    font-size: 13px;
    font-weight: bold;
    transform: rotate(-90deg);
    -webkit-transition: right 150ms ease-out, -webkit-transform 250ms ease-out;
    transition: right 150ms ease-out, -webkit-transform 250ms ease-out;
    transition: transform 250ms ease-out, right 150ms ease-out;
    transition: transform 250ms ease-out, right 150ms ease-out, -webkit-transform 250ms ease-out;
  }
  .nav-content ul li.nav-item:hover > a i {
    right: 5px;
  }
  /* Active Class */
  .nav-content ul li.nav-item.active a {
    background: #242f35;
    color: #e1e4e6;
  }
  .nav-content ul li.nav-item.active a i {
    transform: rotate(0deg);
    right: 0;
  }
  .nav-content ul li.dropdown-li ol {
    display: none;
    overflow: hidden;
    visibility: visible;
    position: relative;
    top: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    min-width: auto;
    transform-origin: none !important;
    box-shadow: none;
    transform: scale(1);
    background: #242f35;
  }
  .nav-content ul li.dropdown-li ol::after {
    display: none;
  }
  .nav-content ul li.dropdown-li ol li {
    position: relative;
  }
  .nav-content ul li.dropdown-li ol li::before {
    content: "";
    left: 32px;
    top: -12px;
    bottom: 17px;
    position: absolute;
    display: block;
    width: 1px;
    border-left: 1px dotted #3e474e;
    z-index: 3;
  }
  .nav-content ul li.dropdown-li ol li a {
    font-size: 12px;
    padding: 5px 0 5px 55px;
    background: #242f35;
    -webkit-transition: padding-left 150ms ease-out;
    transition: padding-left 150ms ease-out;
  }
  .nav-content ul li.dropdown-li ol li a::before {
    content: "";
    left: 32px;
    top: 13px;
    position: absolute;
    display: block;
    width: 12px;
    border-bottom: 1px dotted #3e474e;
    z-index: 1;
  }
  .nav-content ul li.dropdown-li ol li a:hover {
    padding-left: 58px;
    background: rgba(255, 255, 255, 0.02);
  }
  .nav-content ul li.dropdown-li ol a .l-c img {
    max-width: 17px;
    margin-right: 10px !important;
  }
  .nav-content ul li.dropdown-li ol a .l-c .t-c .name {
    font-size: 12px;
    color: #a6adb3;
    font-weight: normal;
    transition: color .15s ease-in-out;
  }
  .nav-content ul li.dropdown-li ol a .l-c .t-c .comment {
    display: none;
  }
  .nav-content ul li.dropdown-li ol li a:hover .l-c .t-c  .name {
    color: #e1e4e6;
  }
  /* Nav Footer */
  nav .nav-footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-height: 30px;
    line-height: 1;
    font-weight: 500;
    font-size: 13px;
    color: #a6adb3;
    text-align: center;
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
    background: #202a2f;
  }
  nav .nav-footer p {
    display: flex;
    padding: 10px;
    font-weight: 500;
    font-size: 13px;
    color: #a6adb3;
    text-align: center;
    height: 40px;
    align-items: center;
    justify-content: center;
  }
  /* Small Nav */
  .s-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 4px rgba(3,27,78,.1);
    z-index: 11;
  }
  .s-nav .nav-content {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* Logo */
  .s-nav a img {
    max-width: 130px;
  }
  .s-nav .w-logo {
    display: none;
  }
  /* Toggle Nav Button */
  .s-nav .toggle-nav-btn {
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 17px;
    vertical-align: middle;
    /* border: 1px solid #e9eaee; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: right;
    outline: none !important;
    text-decoration: none !important;
    font-weight: bold;
    background: transparent;
    /* background: #f3f5f9; */
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
  }
  .s-nav .toggle-nav-btn span {
      position: absolute;
      width: 30px;
      height: 2px;
      top: 50%;
      left: 50%;
      background: #284254;
      border-radius: 5px;
      overflow: hidden;
      transition: all 0.3s linear;
  }
  .s-nav .toggle-nav-btn span::before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      background: gray;
      transition: all 0.3s linear;
  }
  .s-nav .toggle-nav-btn span:nth-child(1) {
      animation: span-first-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
      top: 40%;
  }
  .s-nav .toggle-nav-btn span:nth-child(2) {
      animation: span-second-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
  }
  .s-nav .toggle-nav-btn span:nth-child(3) {
      animation: span-third-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
      top: 60%;
  }
  .s-nav .toggle-nav-btn.clicked:hover span::before {
      width: 100%;
      transition: all 0.3s linear;
  }
  .s-nav .toggle-nav-btn.clicked span:nth-child(1) {
      animation: span-first-on 0.5s ease-in-out;
      animation-fill-mode: forwards;
      top: 50%;
  }
  .s-nav .toggle-nav-btn.clicked span:nth-child(2) {
      animation: span-second-on 0.5s ease-in-out;
      animation-fill-mode: forwards;
  }
  .s-nav .toggle-nav-btn.clicked span:nth-child(3) {
      animation: span-third-on 0.5s ease-in-out;
      animation-fill-mode: forwards;
      top: 50%;
  }
  @keyframes span-first-on {
      0% {
          transform: translate(-50%, -300%);
      }

      30% {
          transform: translate(-50%, -50%);
      }

      100% {
          transform: translate(-50%, -50%) rotate(-45deg);
      }
  }
  @keyframes span-first-off {
      0% {
          transform: translate(-50%, -50%) rotate(-45deg);
      }

      30% {
          transform: translate(-50%, -50%) rotate(0deg);
      }

      100% {
          transform: translate(-50%, -300%);
      }
  }
  @keyframes span-second-on {
      0% {
          transform: translate(-50%, -50%);
      }

      25% {
          background: gray;
      }

      50% {
          transform: translate(-50%, -50%) scale(1);
      }

      100% {
          transform: translate(-150%, -50%) scale(0);
      }
  }
  @keyframes span-second-off {
      0% {
          transform: translate(-150%, -50%) scale(0);
      }

      25% {
          background: gray;
      }

      50% {
          transform: translate(-50%, -50%) scale(1);
      }

      100% {
          transform: translate(-50%, -50%);
      }
  }
  @keyframes span-third-on {
      0% {
          transform: translate(-50%, 200%);
      }

      30% {
          transform: translate(-50%, -50%);
      }

      100% {
          transform: translate(-50%, -50%) rotate(45deg);
      }
  }
  @keyframes span-third-off {
      0% {
          transform: translate(-50%, -50%) rotate(45deg);
      }

      30% {
          transform: translate(-50%, -50%) rotate(0deg);
      }

      100% {
          transform: translate(-50%, 200%);
      }
  }
  /* ------------------------------------------------- */
  /* -- BEGIN: Footer -- */
  footer .copyright .content {
    justify-content: center;
    margin-top: 20px;
  }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .s-nav .toggle-nav-btn span {
    width: 25px;
  }
}