/* -- BEGIN: Root -- */
:root {
  --mainColor     : #0069ff;
  --grColor       : #2E84FF;
  --darColor      : #0056D1;
  --hoverColor    : #f9fbfc;
  --typeColor     : #031b4e;
  --pColor        : rgba(3, 27, 78, 0.7);
  --hotColor      : #ff4546;
  --darHotColor   : #E83F40;
  /* Box Shadow */
  --btn-shadow    : 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  /* SVG Colors */
  --a : #031B4E;
  --b : #C13D3D;
  --c : #EBAA39;
  --d : #5E8DA7;
}
/* ------------------------------------------------- */

/* -- BEGIN: Default Elements Properties -- */
html {
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  position: relative;
}
h1, h2, h3, h4, p, a, li, span, div {
  /* font-family: 'Open Sans', sans-serif !important; */
  font-family: 'Segoe UI', sans-serif !important;
  font-display: swap;
}
p {
  line-height: 1.7 !important;
}
button {
  outline: none !important;
}
a {
  text-decoration: none !important;
}
/* ------------------------------------------------- */

/* -- BEGIN: Selection -- */
::-moz-selection {
  background: #1374ff;
  color: #fff;
}
::selection {
  background: #1374ff;
  color: #fff;
}
/* ------------------------------------------------- */

/* -- BEGIN: ScrollBar -- */
body::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #3b4d56;
  border-radius: 0;
  -webkit-border-radius: 0;
}
body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
}
/* ------------------------------------------------- */

/* -- BEGIN: Custom Class -- */
html.overflow-h {
  overflow: hidden !important;
}
.uppercase {
  text-transform: uppercase;
}
/* section head */
.section-head {
  margin-bottom: 45px;
  text-align: center;
}
.section-head h2 {
  position: relative;
  display: inline-block;
  text-transform: capitalize;
  font-family: 'Segoe UI', sans-serif !important;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.4;
  margin: 0 auto;
  color: var(--typeColor);
}
.section-head .lines {
	position: relative;
	width: 350px;
	height: 1px;
	background: #e6e6e6;
	margin: 10px auto 0;
}
.section-head .lines:after {
	content: "";
	position: absolute;
	left: 50%;
	top: 0;
	background: var(--mainColor);
	width: 200px;
	height: 1px;
	transform: translateX(-50%);	
	transition: all 0.5s linear;
}
.section-head .lines span {
	position: absolute;
	background: #fff;
	border: 1px solid var(--mainColor);
	width: 10px;
	height: 10px;
	left: 50%;
  top: 50%;
  border-radius: 50%;
	z-index: 2;	
	transform: translate(-50%, -50%) rotate(45deg);
}
.section-head p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px auto 0;
  color: rgba(3, 27, 78, 0.7);
}
/* background */
.bg-2 {
  background: #f9fbfc;
}
/* padding */
.p-100 {
  padding: 100px 0;
}
/* margin */
.mb-min {
  margin-bottom: 15px;
}
.mb-med {
  margin-bottom: 25px;
}
.mb-lg-50 {
  margin-bottom: 50px;
}
/* button */
.primary-btn {
  border-radius: 4px;
  background: var(--mainColor);
  padding: 17px 30px;
  line-height: 16px;
  text-transform: uppercase;
  min-width: 225px;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  letter-spacing: 1px;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: all .25s ease-in-out;
}
.primary-btn:hover {
  background: #1633ff;
}
.primary-btn:active {
  box-shadow: inset 0 0 10px 1px var(--darColor);
}
/* ------------------------------------------------- */

/* -- BEGIN: Money Back Section -- */
.m-b .contain {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.m-b .contain img {
  max-width: 170px;
}
.m-b .contain .t-c h3 {
  font-size: 40px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--typeColor)
}
.m-b .contain .t-c p {
  font-size: 20px;
  width: 80%;
  color: var(--typeColor);
  opacity: .8;
}
/* ------------------------------------------------- */

/* -- BEGIN: Feature Section -- */
.features .item img {
  max-width: 100px;
  padding: 15px;
  border-radius: 50%;
  border: 1px dashed var(--typeColor);
}
.features .item h4 {
  text-transform: capitalize;
  font-size: 20px;
  min-height: 40px;
  margin-top: 20px;
  margin-bottom: 0;
  color: var(--typeColor);
  font-weight: 700;
}
.features .item p {  
  margin: 0 auto;
  font-size: 16px;
  color: var(--pColor);
  font-weight: 400;
}
.features .btn-c {
  margin-top: 70px;
}
/* ------------------------------------------------- */

/* -- BEGIN: FAQs Section -- */
.faqs .card .card-header {
  padding: 0;
}
.faqs .card button {
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: 1px solid #f4f5f7;
  background: #fff;
}
.faqs #accordion .card {
  background: #fff;
  outline: none;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
}
.faqs #accordion .card:not(:last-child) {
  margin-bottom: 20px;
}
.faqs #accordion .card .card-header {
  padding: 0;
  border: none;
}
.faqs #accordion .card button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 20px;
  color: #232f3e;
  text-decoration: none;
  background: #fff;
  display: flex;
  align-items: center;
  border: none !important;
  transition: 0.2s;
  white-space: normal;
  font-weight: bold;
}
.faqs #accordion .card i {
  transform: rotate(90deg);
  transition: transform 0.1s ease;
}
.faqs #accordion .card button.collapsed i {
  transform: rotate(0);
}
.faqs #accordion .card button:hover {
  border-radius: 0;
  border-bottom-color: #232f3e;
}
.faqs #accordion .card-body {
  border-top: 1px solid #f2f2f2;
}
.faqs #accordion .card-body p {
  font-size: 16px;
  margin-left: 31px;
  color: #898b96;
}
/* ------------------------------------------------- */

/* -- BEGIN: loading Spinner */
.loading {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--typeColor);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading .main .lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading .main .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loading .main .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading .main .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading .main .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ------------------------------------------------- */

/* -- BEGIN: Media Query -- */
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  /* -- BEGIN: Custom Class */
  .padding .col-lg-1, .padding .col-lg-10, .padding .col-lg-11, .padding .col-lg-12, .padding .col-lg-2, .padding .col-lg-3, .padding .col-lg-4, .padding .col-lg-5, .padding .col-lg-6, .padding .col-lg-7, .padding .col-lg-8, .padding .col-lg-9, .padding .col-md-1, .padding .col-md-10, .padding .col-md-11, .padding .col-md-12, .padding .col-md-2, .padding .col-md-3, .padding .col-md-4, .padding .col-md-5, .padding .col-md-6, .padding .col-md-7, .padding .col-md-8, .padding .col-md-9, .padding .col-sm-1, .padding .col-sm-10, .padding .col-sm-11, .padding .col-sm-12, .padding .col-sm-2, .padding .col-sm-3, .padding .col-sm-4, .padding .col-sm-5, .padding .col-sm-6, .padding .col-sm-7, .padding .col-sm-8, .padding .col-sm-9, .padding .col-xs-1, .padding .col-xs-10, .padding .col-xs-11, .padding .col-xs-12, .padding .col-xs-2, .padding .col-xs-3, .padding .col-xs-4, .padding .col-xs-5, .padding .col-xs-6, .padding .col-xs-7, .padding .col-xs-8, .padding .col-xs-9 {
    padding-bottom: 30px;
  }
  .mb-lg-50 {
    margin-bottom: auto;
  }
  .p-100 {
    padding: 70px 0;
  }
  /* section head */
  .section-head h2 {
    font-size: 27px;
  }
  .section-head p {
    font-size: 18px;
  }
  /* -- BEGIN: Features Section */
  .features .item img {
    max-width: 80px;    
  }
  /* -- BEGIN: Money Back Section -- */
  .m-b .contain .t-c h3 {
    font-size: 36px;
  }
  .m-b .contain .t-c p {
    width: 100%;
  }
  /* -- BEGIN: Navbar -- */
  body::before {
    content: '';
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% + 60px);
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-in-out;
  }
  body.nav-open::before {
    opacity: 1;
    visibility: visible;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  /* -- BEGIN: Custom Class -- */
  .section-head {
    margin-bottom: 40px;
  }
  .section-head h2 {
    font-size: 24px;
  }
  .section-head p {
    font-size: 18px;
  }
  .p-100 {
    padding: 50px 0;
  }
  /* -- BEGIN: Features Section -- */
  .features .item h4 {
    margin-bottom: 20px;
    min-height: auto
  }
  .features .btn-c {
    margin-top: 30px;
  }
  /* -- BEGIN: Money Back Section -- */
  .m-b .contain .t-c h3 {
    font-size: 28px;
  }
  .m-b .contain .t-c p {
    font-size: 18px;
  }
  /* -- BEGIN: FAQ Section -- */
  .faqs #accordion .card button {
    font-size: 14px;
  }
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* -- BEGIN: Custom Class -- */
  .section-head {
    margin-bottom: 32px;
    text-align: center;
  }
  .section-head h2 {
    font-size: 24px;
  }
  .section-head p {
    font-size: 16px;
    line-height: 24px;
  }
  .primary-btn {
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 700;
    min-width: 160px;
    letter-spacing: 0;
  }
  /* -- BEGIN: Money Back Section -- */
  .m-b .contain .t-c h3 {
    font-size: 24px;
  }
  .m-b .contain .t-c p {
    font-size: 16px;
  }
  /* -- BEGIN: FAQ Section -- */
  .faqs #accordion .card,
  .faqs #accordion .card:hover {
    box-shadow: none !important;
  }
  .faqs #accordion .card button {
    padding: 15px 20px;
  }
  .faqs #accordion .card-body p {
    margin-left: 21px;
  }
}
